__pycache__/
*.py[cod]
*$py.class

.env/
.venv/
venv/
env/

*.conda
*.env.yml

*.log
*.tmp

build/
dist/
*.egg-info/
.eggs/

cython_debug/

.idea/
*.iml

fMRI/fMRI_data/
fMRI/unrelated_subjects_final.txt